<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Current Competition</title>
</head>
<body>

<div th:fragment="competitions">
  <table th:if="${competitions.size() > 0}" class="table table-bordered table-striped">
    <thead class="thead-dark">
      <tr>
        <th th:text="#{sw.finska.competition}"></th>
        <th th:text="#{sw.finska.heading.startDate}"></th>
        <th th:text="#{sw.finska.heading.numberOfRounds}"></th>
        <th th:text="#{sw.finska.heading.numberOfPlayers}"></th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="competition : ${competitions}">
        <td>
          <a th:href="@{/display/competition/{id}(id=${competition.id})}"
             th:title="#{sw.finska.link.competition.title(${competition.key})}"
             th:text="${competition.key}"></a>
        </td>
        <td th:text="${competition.startDate}"></td>
        <td th:text="${competition.numberOfRounds()}"></td>
        <td th:text="${competition.getEntrantIds().size()}"></td>
      </tr>
    </tbody>
  </table>
</div>

<div th:fragment="competition">
  <p th:text="#{sw.finska.text.startDate(${competition.startDate})}"></p>
  <th:block th:if="${players.size() > 0}">
    <p>
      <th:block th:text="#{sw.finska.text.players}"></th:block>
      <th:block th:each="player, status : ${players}">
        <th:block th:text="${player.key}"></th:block><th:block th:if="!${status.last}">,</th:block>
      </th:block>
    </p>
  </th:block>
  <table th:if="${competition.numberOfRounds() > 0}" class="table table-bordered table-striped">
    <thead class="thead-dark">
      <tr>
        <th th:text="#{sw.finska.round}"></th>
        <th th:text="#{sw.finska.heading.date}"></th>
        <th th:text="#{sw.finska.heading.numberOfMatches}"></th>
        <th th:text="#{sw.finska.heading.players}"></th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="round : ${rounds}">
        <td>
          <a th:href="@{/display/round/{id}/{number}(id=${competition.id},number=${round.key})}"
             th:title="#{sw.finska.link.round.display(${round.key})}"
             th:text="${round.key}"></a>
        </td>
        <td th:text="${round.roundDate}"></td>
        <td th:text="${round.numberOfMatches()}"></td>
        <td>
          <th:block th:each="player, status : ${round.players}">
            <a th:href="@{/display/player/{id}(id=${player.id})}"
               th:title="${player.key}"
               th:text="${player.key}"></a><th:block th:if="!${status.last}">,</th:block>
          </th:block>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div th:fragment="create">
  <form method="post" th:action="@{/admin/create/competition}">
    <div class="form-group">
      <label for="name" th:text="#{sw.finska.admin.label.name}"></label>
      <input name="name" type="text">
    </div>
    <div class="form-group">
      <label for="start-date" th:text="#{sw.finska.admin.label.startDate}"></label>
      <input name="start-date" type="date" th:value="${date.toString()}">
    </div>
    <div class="form-group">
      <label class="form-check-label" for="players" th:text="#{sw.finska.admin.label.players}"></label>
      <div th:each="player : ${players}" class="form-check form-check-inline">
        <input type="checkbox" class="form-check-input" name="players"
               th:value="${player.value.id}" th:text="${player.value.key}">
      </div>
    </div>
    <button type="submit" class="btn btn-primary"   name="action" th:text="#{sw.finska.admin.button.create.competition}" th:value="create"></button>
    <button type="submit" class="btn btn-secondary" name="action" th:text="#{sw.finska.admin.button.cancel}" th:value="cancel"></button>
  </form>
</div>

<div th:fragment="update">
  <form method="post" th:action="@{/admin/update/competition/{id}(id=${competition.id})}">
    <div class="form-group">
      <label for="name" th:text="#{sw.finska.admin.label.name}"></label>
      <input name="name" type="text" th:value="${competition.key}">
    </div>
    <div class="form-group">
      <label for="start-date" th:text="#{sw.finska.admin.label.startDate}"></label>
      <input name="start-date" type="date" th:value="${competition.startDate.toString()}">
    </div>
    <div class="form-group">
      <label class="form-check-label" for="players" th:text="#{sw.finska.admin.label.players}"></label>
      <div th:each="player : ${players}" class="form-check form-check-inline">
        <input type="checkbox" class="form-check-input" name="players"
          th:checked="${checked.contains(player.value.id)}" th:value="${player.value.id}" th:text="${player.value.key}">
      </div>
    </div>
    <button type="submit" class="btn btn-primary"   name="action" th:text="#{sw.finska.admin.button.update.competition}" th:value="update"></button>
    <button type="submit" class="btn btn-primary"   name="action" th:if="${competition.numberOfRounds() == 0}"
                                                                  th:text="#{sw.finska.admin.button.create.round.first}" th:value="create"></button>
    <button type="submit" class="btn btn-primary"   name="action" th:unless="${competition.numberOfRounds() == 0}"
                                                                  th:text="#{sw.finska.admin.button.create.round.more}"  th:value="create"></button>
    <button type="submit" class="btn btn-secondary" name="action" th:text="#{sw.finska.admin.button.done}"               th:value="done"></button>
  </form>
  <div th:if="${competition.numberOfRounds() > 0}">
    <hr/>
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th th:text="#{sw.finska.round}"></th>
          <th th:text="#{sw.finska.heading.date}"></th>
          <th th:text="#{sw.finska.heading.numberOfMatches}"></th>
          <th th:text="#{sw.finska.heading.numberOfPlayers}"></th>
          <th th:text="#{sw.finska.heading.actions}"></th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="round : ${rounds}">
          <td th:text="${round.key}"></td>
          <td th:text="${round.roundDate}"></td>
          <td th:text="${round.numberOfMatches()}"></td>
          <td th:text="${round.getPlayers().size()}"></td>
          <td>
            <a th:href="@{/admin/update/round/{id}/{roundNumber}(id=${competition.id},roundNumber=${round.key})}"
               th:title="#{sw.finska.admin.link.round.update.title(${round.key})}"
               th:text="#{sw.finska.admin.link.update}"></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

</body>
</html>
