<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Leader Board</title>
</head>
<body>

<div th:fragment="leaderboard">
  <table th:if="${data}" class="table table-bordered table-striped">
    <thead class="thead-dark">
      <tr>
        <th class="text-center" th:text="#{sw.finska.heading.rank}"></th>
        <th th:text="#{sw.finska.player}"></th>
        <th:block th:each="itemName : ${spec.itemNames}">
        <th class="text-center" th:text="#{${'sw.finska.itemname.' + #strings.toLowerCase(itemName)}}"></th>
        </th:block>
      </tr>
    </thead>
    <tbody>
      <tr th:each="result : ${leaderboard}">
        <td class="text-center">
          <span th:text="${result.rank}"></span>
          <img th:if="${result.previousRank != 0}"
               th:with="image=(${(result.rankDelta == 0) ? 'none' : ((result.rankDelta > 0) ? 'up' : 'down')})" 
               th:src="@{'/images/png/move-' + ${image} + '.png'}"
               th:title="${'Previous rank: ' + result.previousRank}">
        </td>
        <td th:text="${players.get(result.entrantID).key}"></td>
        <th:block th:each="itemName : ${spec.itemNames}">
        <td class="text-center" 
            th:text="${spec.isInteger(itemName) ? result.getResultItemValueAsInt(itemName) : #numbers.formatDecimal(result.getResultItemValueAsDouble(itemName), 1, 2)}">Value</td>
        </th:block>
      </tr>
    </tbody>
  </table>
</div>
 
<div th:fragment="historyTable">
  <table th:if="${data}" class="table table-bordered table-striped">
    <thead class="thead-dark">
      <tr>
        <th th:text="#{sw.finska.player}"></th>
        <th:block th:each="round: ${#numbers.sequence(1, competition.numberOfRounds())}">
          <th th:text="#{sw.finska.heading.round(${round})}"></th>
        </th:block>
      </tr>
    </thead>
    <tbody>
      <tr th:each="row : ${history}">
        <td th:text="${players.get(row.entrantID).key}"></td>
        <th:block th:each="value : ${row.history}">
          <td th:text="${value}"></td>
        </th:block>
      </tr>
    </tbody>
  </table>
</div>

<div th:fragment="historyChart">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.js"
          type="text/javascript"/></script>
  <canvas id="historyChart"></canvas>
  <script th:inline="javascript">
    var ctx = document.getElementById('historyChart').getContext('2d');
    var myChart = new Chart(ctx, {
      type: 'line',
      options: {
        scales: {
          yAxes: [{
            scaleLabel: {
              display: true,
              labelString: /*[[#{${yaxis}}]]*/
            },
            ticks: {
              beginAtZero: true,
              reverse: /*[[${reverse}]]*/
            }
          }],
          xAxes: [{
            scaleLabel: {
              display: true,
              labelString: /*[[#{sw.finska.text.round}]]*/
            }
          }]
        },
  		legend: {
  			position: 'right'
  		}
      },
      data: {
        labels: /*[[${labels}]]*/,
        datasets: /*[[${datasets}]]*/,
      }
    });
  </script>
</div>

</body>
</html>
