<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Leader Board</title>
</head>
<body>

<div th:fragment="leaderboard">
  <table th:if="${data}" class="table table-bordered table-striped">
    <thead class="thead-dark">
      <tr>
        <th class="text-center" th:text="#{sw.finska.heading.rank}"></th>
        <th th:text="#{sw.finska.player}"></th>
        <th:block th:each="itemName : ${spec.itemNames}">
        <th class="text-center" th:text="#{${'sw.finska.itemname.' + #strings.toLowerCase(itemName)}}"></th>
        </th:block>
      </tr>
    </thead>
    <tbody>
      <tr th:each="result : ${leaderboard}">
        <td class="text-center">
          <span th:text="${result.rank}"></span>
          <img th:if="${result.previousRank != 0}"
               th:with="image=(${(result.rankDelta == 0) ? 'none' : ((result.rankDelta > 0) ? 'up' : 'down')})" 
               th:src="@{'/images/png/move-' + ${image} + '.png'}"
               th:title="${'Previous rank: ' + result.previousRank}">
        </td>
        <td th:text="${players.get(result.entrantID).key}"></td>
        <th:block th:each="itemName : ${spec.itemNames}">
        <td class="text-center" 
            th:text="${spec.isInteger(itemName) ? result.getResultItemValueAsInt(itemName) : #numbers.formatDecimal(result.getResultItemValueAsDouble(itemName), 1, 2)}">Value</td>
        </th:block>
      </tr>
    </tbody>
  </table>
</div>

</body>
</html>
