<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Matches</title>
</head>
<body>

<div th:fragment="matches">
  <th:block th:if="${results.size() > 0}">
    <h1 th:text="${competition.name}">Name</h1>
    <th:block th:each="i: ${#numbers.sequence(matches.size() - 1, 0, -1)}">
      <h2 th:text="${'Round: ' + matches.get(i).round + ' (' + matches.get(i).matchDate + ')'}"></h2>
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th>Player</th>
            <th:block th:each="itemName : ${spec.itemNames}">
              <th class="text-center" th:text="${itemName}">Name</th>
            </th:block>
          </tr>
        </thead>
        <tbody>
          <tr th:each="result : ${results.get(i)}">
            <td th:text="${players.get(result.entrantID).name}"></td>
            <th:block th:each="itemName : ${spec.itemNames}">
            <td class="text-center" 
                th:text="${spec.isInteger(itemName) ? result.getResultItemValueAsInt(itemName) : #numbers.formatDecimal(result.getResultItemValueAsDouble(itemName), 1, 2)}">Value</td>
            </th:block>
        </tbody>
      </table>
    </th:block>
  </th:block>
</div>

</body>
</html>
