<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Players</title>
</head>
<body>

<div th:fragment="players">
  <table th:if="${players.size() > 0}" class="table table-bordered table-striped">
    <thead class="thead-dark">
      <tr>
        <th>ID</th>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="player : ${players}">
        <td th:text="${player.value.id}"></td>
        <td th:text="${player.value.key}"></td>
      </tr>
    </tbody>
  </table>
</div>

<div th:fragment="player">
  <table class="table table-bordered table-striped">
    <thead class="thead-dark">
      <tr>
        <th>ID</th>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td th:text="${player.id}"></td>
        <td th:text="${player.key}"></td>
      </tr>
    </tbody>
  </table>
</div>

</body>
</html>
