<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Matches</title>
</head>
<body>

<div th:fragment="rounds">
  <th:block th:if="${results.size() > 0}">
    <h1 th:text="${competition.key}">Name</h1>
    <th:block th:each="i: ${#numbers.sequence(rounds.size() - 1, 0, -1)}">
      <h2 th:text="${'Round: ' + rounds.get(i).key + ' (' + rounds.get(i).roundDate + ')'}"></h2>
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th>Player</th>
            <th:block th:each="itemName : ${spec.itemNames}">
              <th class="text-center" th:text="${itemName}">Name</th>
            </th:block>
          </tr>
        </thead>
        <tbody>
          <tr th:each="result : ${results.get(i)}">
            <td th:text="${players.get(result.entrantID).key}"></td>
            <th:block th:each="itemName : ${spec.itemNames}">
            <td class="text-center" 
                th:text="${spec.isInteger(itemName) ? result.getResultItemValueAsInt(itemName) : #numbers.formatDecimal(result.getResultItemValueAsDouble(itemName), 1, 2)}">Value</td>
            </th:block>
        </tbody>
      </table>
    </th:block>
  </th:block>
</div>

<div th:fragment="display">
  <table class="table table-bordered table-striped">
    <thead class="thead-dark">
      <tr>
        <th>Player</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="player : ${round.players}">
        <td th:text="${player.key}"></td>
      </tr>
    </tbody>
  </table>
</div>

<div th:fragment="create">
  <form method="post" th:action="@{/admin/create/round}">
    <div class="form-group">
      <label for="round-date">Date Played</label>
      <input name="round-date" type="date" th:value="${date.toString()}">
    </div>
    <div class="form-group">
      <label for="players">Players</label>
      <div th:each="player : ${players}" class="form-check form-check-inline">
        <input type="checkbox" class="form-check-input" name="players"
          th:value="${player.value.id}" th:text="${player.value.key}">
      </div>
    </div>
    <input type="hidden" name="competition" th:value="${competition.id}">
    <button type="submit" class="btn btn-primary" th:text="Create" th:value="create"></button>
  </form>
</div>

<div th:fragment="edit">
  <form method="post" th:action="@{/admin/edit/round/{number}(number=${round.key})}">
    <div class="form-group">
      <label for="round-date">Date Played</label>
      <input name="round-date" type="date" th:value="${round.roundDate.toString()}">
    </div>
    <div class="form-group">
      <label for="players">Players</label>
      <div th:each="player : ${players}" class="form-check form-check-inline">
        <input type="checkbox" class="form-check-input" name="players"
          th:checked="${checked.contains(player.value.id)}" th:value="${player.value.id}" th:text="${player.value.key}">
      </div>
    </div>
    <input type="hidden" name="competition" th:value="${competition.id}">
    <button type="submit" class="btn btn-primary" th:text="Update" th:value="update"></button>
  </form>
</div>

</body>
</html>
